/* === Normaler Cursor für die Seite === */
body {
    cursor: url('../assets/cursor/normal.cur'), default;
}

/* === Cursor für Klickbare Buttons/Links === */
button,
.button-circle,
.nav-buttons button,
#box-mails>button,
#my-tools>button,
a[href] {
    cursor: url('../assets/cursor/pointer.cur'), pointer;
}

/* === Cursor für Texteingabefelder === */
#searchInput,
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
textarea {
    cursor: url('../assets/cursor/text.cur'), text;
}