body {
    margin: 0px;
    background-color: #222;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

/* MAIN */
.main_container {
    margin: 50px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.main_container-box {
    flex: 1 300px;
    background-color: #444;
    border: 2px solid #AAA;
    border-radius: 15px;
}

.main_container-box-titel {
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

.button-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

.button-wrapper {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.button-kreis {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.button-label {
    text-align: center;
}

/* Floating Button */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px; /* Gleiche Breite wie .button-kreis */
    height: 50px; /* Gleiche Höhe wie .button-kreis */
    border-radius: 50%; /* Gleiche Rundung wie .button-kreis */
    border: none; /* Kein Rahmen, wie bei .button-kreis */
    background-image: url('https://cdn-icons-png.freepik.com/512/6288/6288891.png'); /* Bild als Hintergrund */
    background-size: cover; /* Passt das Bild an die Größe des Buttons an */
    background-position: center; /* Zentriert das Bild */
    cursor: pointer;
    transition: transform 0.2s;
}

.floating-button:hover {
    transform: scale(1.1); /* Gleicher Hover-Effekt wie .button-kreis */
    cursor: pointer;
}