body {
    margin: 0px;
    background-color: #222;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

/* HEADER */

.header_container {
    display: flex;
    justify-content: space-between;

    height: 80px;
    line-height: 40px;

    background-color: #111;
    border-bottom: 2px solid #AAA;
}

.header_container-left {
    padding-left: 100px;
}

.header_container-right {
    padding-right: 100px;
}

/* MAIN */
.main_container {
    margin: 50px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.main_container-box {
    flex: 1 300px;
    background-color: #444;
    border: 2px solid #AAA;
    border-radius: 15px;
}

.main_container-box-titel {
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

.button-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

.button-wrapper {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.button-kreis {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.button-label {
    text-align: center;
}